<div class="rental-listing-item table-header">
    <div class="interested"></div>
    <div class="price">Price</div>
    <div class="start">Start Date</div>
    <div class="address">Address</div>
    <div class="actions"></div>
</div>